body {
    margin: 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap; 
    width: 600px;
    height: 600px;
    margin: auto;
    border: none;
    
}

.grid-cell {
    border: 1px solid black;
    width: 35.3px;
    height: 35.3px;
    
}